*.db
*.so
*.py[cod]
*.sqlite
*.sqlite-journal
*.swo
*.swp
*.egg
*.egg-info
build/
dist/
http_cache/
__pycache__/
venv/
.venv

# Editors
.DS_Store
.~*
.idea/
.vim/
.vscode/

# Test / coverage reports
.coverage
.tox
.mypy_cache/
test-reports/

# Sphinx
docs/_build/
docs/modules/